* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Arial, sans-serif;
}

.obj-width {
    max-width: 1200px;
    margin: auto;
}

nav {
    background-color: #2d4c50;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0;
}

.navbar .logo {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 2.2rem;
}

#search-input {
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}

#search-btn {
    padding: 10px 20px;
    background-color: #138065;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#blog-container {
    padding: 3rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.blog-card {
    width: 280px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
    margin: 10px;
}

.blog-card:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.blog-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.blog-card h2 {
    color: #141414;
    font-size: 1.7rem;
    font-weight: 500;
}

.blog-card p {
    font-size: 1.2rem;
    padding-top: 0.7rem;
}

/* Popup overlay */
.recipe-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Popup content */
.recipe-popup {
    background-color: #fff;
    padding: 2rem;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
    overflow-y: auto;
    max-height: 90vh;
}

/* Close button */
.recipe-popup .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #444;
}

/* View Recipe Button */
.view-recipe-btn {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #138065;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
